
#itemAddedMaster {
    background-color: #EAEDED;
    width: 100%;
    height: 700px;
    display: flex;
}
#itemAddedProductCard {
    background-color: white;
    width: 675px;
    height: 188px;
    margin: 18px;
}

#itemAddedShippingCard {
    background-color: white;
    width: 313px;
    height: 188px;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    line-height: 20px;
}

#itemAddedCartCard {
    background-color: white;
    width: 327px;
    height: 152px;
    padding: 18px;
    margin-top: 18px;
}

.verticalDivider {
    height: 148px;
    width: 1px;
    background-color: #E7E7E7;
    margin: 38px 0 18px;
    position: relative;
    right: 371px;
}

#itemAddedSubtotal {
    font-size: 18px;
}

#cartAddedTotal {
    font-size: 21px;
}

#cartAddedPriceSymbol {
    font-size: 12px;
    position: relative;
    bottom: 6px;
}

#cartAddedZeroes {
    font-size: 12px;
    position: relative;
    bottom: 6px;
}

