
#checkoutListMaster {
    background-color: #EAEDED;
    width: 100%;
    display: flex;
}

#checkoutListMasterFixed {
    background-color: #EAEDED;
    width: 100%;
    display: flex;
    height: 700px;
}

#checkoutListItems {
    background-color: white;
    width: 1059px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 18px;
}

#checkoutCardContainer {
    display: flex;
    width: 100%;
    padding: 12px;
}

.checkoutPic {
    max-width: 170px;
    max-height: 170px;
}

.checkoutPicContainer {
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.checkoutListDivider {
    height: 1px;
    border-top: 1px solid #E7E7E7;
    width: 100%;
}

.checkoutListItemsHeader {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#shoppingCartText {
    font-size: 28px;
}

#shoppingCartPrice {
    position: relative;
    top: 35px;
    color: #565959;
}

.checkoutCardDescription {
    width: 729px;
    font-size: 12px;
}

.checkoutCardPrice {
    width: 150px;
    text-align: right;
    font-family: 'Ember-bold';
    font-size: 18px;
}

.cardDescName {
    font-size: 18px;
    line-height: 1.3em;
}

.cardDescInStock {
    line-height: 20px;
    color: #007600;
}

.cardDescFreeShipping {
    line-height: 16px;
}

.cardDescBold {
    font-family: 'Ember-bold';
    line-height: 20px;
}

.cardDescToolbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    position: relative;
    top: 65px;
    height: 30px;
}

.checkoutDelete {
    border: none;
    background: none;
    color: #007185;
    padding: 0;
}

.checkoutDelete:hover {
    text-decoration: underline;
}

.divider {
    width: 1px;
    height: 14px;
    border-right: 1px solid #ddd;
    margin: 0 10px;
}

.checkoutQuantityLabel {
    font-family: 'Ember-bold';
    position: relative;
    bottom: 1px;
}

#subtotalContainer {
    font-size: 18px;
    height: 50px;
    padding: 5px 0;
    text-align: right;
    width: 100%;
}

.bold {
    font-family: 'Ember-bold';
}

.subtleLink {
    color: black;
}

.subtleLink:hover {
    color: black;
    text-decoration: none;
}

#purchaseCard {
    background-color: white;
    width: 260px;
    height: 172px;
    padding: 20px;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#purchaseSubtotal {
    font-size: 18px;
}

#emptyCartMsg {
    font-family: 'Ember-bold';
    font-size: 28px;
    position: relative;
    top: 30px;
}

#checkoutListItems2 {
    background-color: white;
    width: 1059px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 18px;
    height: 200px;
}

#whiteBox {
    height:75px;
    margin-left: 18px;
    margin-bottom: 18px;
    width: 1099px;
    background-color: white;
}

#checkoutTerms {
    margin-left: 18px;
    margin-bottom: 150px;
    font-size: 12px;
    width: 1099px;
}

#finalCheckoutButton {
    width: 260px;
    border-radius: 7px;
    position: relative;
    bottom: 10px;
}

#finalCheckoutButton:hover {
    background-color: #F7CA00;
}

.green {
    color: #067D62;
}

#purchaseCardText {
    font-size: 12px;
}

#checkoutFreeShipping {
    display: flex;
}

#purchaseCardText {
    position: relative;
    left: 5px;
}

#fox {
    max-width: 200px;
    max-height: 200px;
    position: relative;
    top: 75px;
}

#largeQuantForm {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    padding: 0px;
}

#largeQuantInput {
    width: 30px;
    height: 15px;
    padding: 3px 7px;
    border: 1px solid #888C8C;
    margin-right: 10px;
    box-shadow: 0 1px 2px rgba(15,17,17,.15) inset;
    border-radius: 4px
}

#largeQuantInput:focus {
    background-color: #F7FEFF;
    border-color: #007185;
    box-shadow: 0 0 0 3px #C8F3FA, 0 1px 2px rgba(15,17,17,.15) inset;
    outline: none;
}

#largeQuantButton {
    height: 20px;
    width: 50px;
    font-size: 11px;
    border-radius: 8px;
}

#largeQuantButton:hover {
    background-color: #F7CA00;
}

#invalidInput {
    color: #CF0000;
    position:relative;
    top: 65px;
}