@font-face {
  font-family: 'Ember';
  src: url(../fonts/Ember/AmazonEmber_Rg.ttf);
}

#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    font-family: 'Ember';
  }
  
  #modal-background {
    position: fixed;
    top: 99px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  #modal-content {
    position: absolute;
    background-color:white;
    width: auto;
    right: 25px;
    top: 50px;
    width: 300px;
    height: 60px;
    border-radius: 3px;
    border: 1px solid lightgray;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .signUpLink {
    margin: 5px;
    font-size: 10px;
  }


