.cardPriceBox {
    display:flex;
    align-items: flex-start;
}

.cardDollarSign {
    padding-top: 2px;
}

.cardSmallZeroes {
    font-size: 13px;
    padding-top: 2px;
    padding-left: 1px;
}

.cardPrice {
    font-size: 28px;
    padding: 0;
}

