#showMaster {
    display: flex;
    margin-top: 40px;
}

#showPageImage {
    max-width: 500px;
    max-height: 500px;
}

#showImageBox {
    width: 500px;
    height: 500px;
    background-color: white;
}

#showContent {
    width: 600px;
}

#showName {
    font-size: 28px;
    line-height: 32px;
}

#showType {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px;
}

#showCheckout {
    width: 245px;
    padding-left: 20px;
}

#showDivider {
    height: 2px;
    border-top: 1px solid #BBBFBF;
    margin: 10px 0 10px;
}

#showDescBox {
    margin: 10px 0;
}

h3 {
    font-size: 16px;
    font-family: 'Ember-bold';
    margin-bottom: 5px;
}

.bullet {
    font-size: 14px;
    line-height: 20px;
}

#descList {
    list-style:disc;
    list-style-position: outside;
    padding-left: 20px;
}

.showLink {
    color: #007185;
}

.showLink:hover {
    color: #C7511F;
}

#freeReturns {
    font-size: 14px;
    margin: 8px 0 15px 0;
}

#showRating {
    margin: 0;
}

#showNumReviews {
    position: relative;
    bottom: 3px;
}

#is-rating-pic {
    max-height: 17px;
    margin-left: 5px;
    position: relative;
    bottom: 1px;
    margin-right: 10px;
}

#is-avg-reviews {
    display: flex;
    align-items: center;
}

#is-scroll-div {
    height: 1px;
    width: 0px;
}

#is-relative-link-text {
    position: relative;
    bottom: 1px;
}