#itemIndexBackground {
    background-color:white;
    display: flex;
    width: 1256px;
    flex-wrap: wrap;
    margin: 12px;
}

#results {
    font-size: 20px;
    font-family: 'Ember-bold';
    width: 100%;
    padding-left: 220px;
    position: relative;
    top: 10px;
}

.card {
    height: 600px;
    width: 300px;
    border: 1px solid rgb(240, 240, 240);
    margin: 5px;
    display: flex;
    flex-direction:column;
    border-radius: 3px;
}

.cardItemImageBox {
    height: 330px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardItemText {
    height: 250px;
    background-color: white;
    padding: 10px 5px;
}

.cardLine {
    padding: 10px 0;
}

.cardLine a {
    color: black;
}

.cardLine a:hover {
    color: #C7511F;
    text-decoration: none;
}

#cardName {
    font-size: 18px;
    margin-bottom: 6px;
}

#cardAnimalType {
    font-size: 14px;
    color: #007185;
}

#cardAnimalType:hover {
    font-size: 14px;
    color: #C7511F;
}



#cardPhoto {
    display: block;
    max-height: 330px;
    max-width: 300px;
    height: auto;
    width: auto;
}
#cardTypeText {
    font-size: 14px;
    color:  #565959;
}

.ratingsPic {
    max-height: 18px;
    margin-bottom: 10px;
}

.numReviews {
    position: relative;
    bottom: 13px;
    left: 5px;
}