/* TODO Add site wide styles */

body {
    display: flex;
    justify-content: center;
    font-family: Arial,sans-serif;
    margin: 0;
    background-color: #E3E6E6;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

button {
    cursor: pointer;
    border-radius: 4%;
}