/* TODO Add site wide styles */

@font-face {
    font-family: 'Ember-light';
    src: url(./fonts/Ember/AmazonEmber_Lt.ttf);
}

@font-face {
    font-family: 'Ember-medium';
    src: url(./fonts/Ember/Amazon-Ember-Medium.ttf);
}

@font-face {
    font-family: 'Ember-bold';
    src: url(./fonts/Ember/AmazonEmber_Bd.ttf);
}

@font-face {
    font-family: 'Ember';
    src: url(./fonts/Ember/AmazonEmber_Rg.ttf);
}

@font-face {
    font-family: 'Ember-thin';
    src: url(./fonts/Ember/AmazonEmber_Th.ttf)
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Ember';
    margin: 0;
    background-color: #E3E6E6;
    font-size: 14px;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

button {
    cursor: pointer;
    border-radius: 3px;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #05a;
}

a:hover {
    text-decoration: underline;
    color:#e47911;
}