/* TODO Add site wide styles */

@font-face {
    font-family: 'Ember-light';
    src: url(./fonts/Ember/AmazonEmber_Lt.ttf);
}

@font-face {
    font-family: 'Ember-medium';
    src: url(./fonts/Ember/Amazon-Ember-Medium.ttf);
}

@font-face {
    font-family: 'Ember-bold';
    src: url(./fonts/Ember/AmazonEmber_Bd.ttf);
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Ember-light';
    margin: 0;
    background-color: #E3E6E6;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

button {
    cursor: pointer;
    border-radius: 3px;
}