form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    width: 250px;
    border: 1px solid lightgray;
    border-radius: 2%;
}

button {
    width: 225px;
    background-color: #f0c14b;
    border: 1px solid gray;
    border-radius: 4%;
    height: 20px;
}

button:hover {
    cursor: pointer;
    background-color:rgb(245, 208, 113);
}

.formItem {
    display: flex;
    flex-direction: column;
}

.fieldLabel {
    font-size: 12px;
    font-weight: 600;
}

.fieldInput {
    width: 215px;
    height: 16px;
}

.formHeader {
    width: 215px;
}

h2 {
    margin: 0;
    font-weight: 500;
}

.formLogo {
    color: black;
    font-size: 48px;
}