form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 320px;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-family: 'Ember';
    padding: 14px 18px;
    justify-content: space-between;
}

.authButton {
    width: 225px;
    background-color: #f0c14b;
    border: 1px solid gray;
    height: 30px;
    font-family: 'Ember';
    font-weight: 300;
    box-shadow: inset 0 1px 0 0 #fcf3dc;
    border-color: #c89411 #b0820f #99710d;
    background: -webkit-linear-gradient(top,#f8e3ad,#EEBA37);
}

.authButton:hover {
    cursor: pointer;
    background: #f0c14b;
}

.authButton:active {
    background: #edb62c;
}

.formItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px;
    height: 50px;
    padding: 10px 0;
}

.fieldLabel {
    font-size: 12px;
    font-family: 'Ember-bold'
}

.fieldInput {
    width: auto;
    height: 23px;
    font-family: 'Ember';
    padding: 3px 7px;
}

.fieldInput:focus {
    outline: none;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
    border: 1px solid #e77600;
    border-radius: 3px;
}

.formHeader {
    width: 215px;
    padding-bottom: 10px;
    font-size: 18px;
}

h2 {
    font-size: 28px;
}

.formLogo {
    color: black;
    font-size: 48px;
}

#formSignUpButton {
    width: auto;
    margin: 5px 0;
}

#formLogInButton {
    width: auto;
    margin: 5px 0;
}

#demoLogin {
    width: auto;
    margin: 5px 0;
}

.terms {
    font-family: 'Ember';
    font-size: 12px;
    padding: 15px 0;
    line-height: 1.5;
}

.signUpToLogIn {
    font-size: 13px;
    margin-top: 30px;
}

#loginForm {
    padding: 20px 26px;
}

.loginErrorBox {
    height: 45px;
    width: 335px;
    border-radius: 3px;
    border: 1px solid #C40000;
    padding: 14px 18px;
    box-shadow: 0 0 0 4px #fcf4f4 inset;
    margin-bottom: 15px;

    display: flex;
}

.alertPic {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.errorBoxText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#redErrorText {
    font-size: 17px;
    color:#C40000;
}

#loginError {
    font-size: 13px;
}

#newToAmazon {
    font-size: 12px;
    margin-top: 20px;
    color: #767676;
}

#grayButton {
    margin-top: 10px;
    width: 372px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
}

#grayButton:hover {
    background: linear-gradient(to bottom,#e7eaf0,#d9dce1);
}

#grayButton:active {
    background: #d9dce1
}