ul {
    list-style: none;
}

.navBar {
    width: 100%;
    background-color:midnightblue;
    display: flex;
    height: 75px;
    justify-content: right;
}

.profileMenu {
    width: 25px;
    height: 25px;
}