<!DOCTYPE html>
<html>
  <head>
    <title>Amazoo</title>
    <!-- Add any other meta tags or stylesheets here -->
     <meta property="og:title" content="Amazoo" />
     <meta property='og:image' content="<%= image_url('/Amazoo/amazoo-title-pic.png') %>"/>
     <meta property="og:description"
       content="Amazoo is a clone of the Amazon.com where users can purchase exotic animals."
     />
     <meta property="og:url"
       content="https://amazoo.onrender.com/"
     />
  </head>
  <body>
    <%= yield %>
    <!-- Add any other scripts or JavaScript here -->
  </body>
</html>